.card{
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-list{
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
    border-radius: 4px;
}

.card-item{
    border-radius: 0px 0px 4px 4px;
    background: $title-color;
}
