.footer{
    background-color: $beground-foter;
    padding-top: 60px;
    padding-bottom: 60px;



 .container{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        align-items: center ;
        gap: 60px;


        @media screen and (min-width:768px){
            gap: 0;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
        }
        
    }

    &__content{
        text-align: center;

        @media screen and (min-width:1200px){
            text-align: start;
        }
    }

    &__logo{
        color: $title-color;
        font-family: "Raleway";
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        margin-bottom: 20px;
        display: inline-block;
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:480px){
        
        }
        
       

        @media screen and (min-width:768px){
            
        }

        @media screen and (min-width:1200px){
            font-size: 26px;
            letter-spacing: 0.78px;
        }

        }

        &__color{
            color: $color-akcent;
            font-family: "Raleway";
            font-size: 26px;
            font-weight: 700;
            line-height: 1.38 ;
            letter-spacing: 0.78px;
            }

            &__adr{
                color: $title-color;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.71; /* 171.429% */
                letter-spacing: 0.42px;


                }

            &__list{
                margin-top: 9px;
                display: flex;
                gap: 9px;
                flex-direction: column;
                text-align: center;

                // @media screen and (min-width:480px){
                // display: flex;
                // justify-content: center;
                
                // }

                @media screen and (min-width:1200px){
                    text-align: start;
                }
            }

            &__link{
                color: $foter-number;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.71; /* 171.429% */
                letter-spacing: 0.42px;
                }

                &__wrap{

                    @media screen and (min-width:768px){
                        margin-left: 165px;
                    }

                    @media screen and (min-width:1200px){
                        margin-left: 70px;
                    }


                }

                &__text{
                    color: $title-color;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 20px;

                    @media screen and (min-width:1200px){
                       text-align: start;
                    }
                }

                &__ul{
                    display: flex;
                
                    gap: 10px;
                }

                &__icon{
                    width: 44px;
                    height: 44px;
                
                    background-color: $footer-icon;
                    border-radius: 50%;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    transition-property: background-color;
                   transition-duration: 250ms;
                   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                
                   &:hover{
                    background-color: $color-akcent;
                }
                }

                &__social{
                    width: 20px;
                    height: 20px;
                
                    fill: $title-color;
                }

                

                &__div{
                    @media screen and (min-width:768px){
                        margin-top: 60px;
                    }

                    @media screen and (min-width:1200px){
                        margin-left: auto;
                        margin-top: 0px;
                    }
                   

                }

                &__title{
                    color: $title-color;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    text-align: center;

                    @media screen and (min-width:1200px){
                     text-align: start;   
                    }
                   
                }

                &__form{
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    align-items: center;
                    
                        
                    

                    @media screen and (min-width:768px){
                        
                    }

                    @media screen and (min-width:1200px){
                        gap: 12px;
                        flex-direction: row;

                    }

                 
                }

                &__input{
                    width: 100%;
                    height: 50px;
                    
                    border-radius: 4px;
                    border: 1px solid rgba(255, 255, 255, 0.30);
                    background: rgba(33, 150, 243, 0.00);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

                    @media screen and (min-width:480px){
                        width: 450px;
                    }

                    @media screen and (min-width:768px){
                        width: 450px;
                    }

                    @media screen and (min-width:1200px){
                        width: 358px;
                    }
                }

                &__button{
                    color: $title-color;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; /* 187.5% */
                    letter-spacing: 0.96px;
                
                    border-radius: 4px;
                    background: $color-akcent;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                    border: none;
                
                    padding: 10px 28px;
                
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                &__plem{
                    width: 24px;
                    height: 24px;
                
                    fill: $title-color;

                    @media screen and (min-width:768px){
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        text-align: left;
                        
                    }
                }
}


.footer {
    padding-top: 15 px;
    padding-bottom: 15 px;
}
