.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
    
}

.link{
    color: $logo-color;
    font-size: 30px;
}

.link::after{
    content:"";
    width: 20px;
    height: 20px;
    background-color: $header-color;
    display: inline-block;
    margin-left: 20px;
    transform: rotate(45deg);

    transition-property: opacity;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-box{
    display: flex; 
   align-items: center;
}
.header-nav{
    
    display: flex;
    gap: 20px;
    
}


.header-logo{
    color: $logo-color;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}
.header-link{
    color: $logo-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;

    transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


    .header-img{
        width: 16px;
    height: 12px;
    fill: $add-color;

    transition-property: fill ;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.header-item:last-child{
    .header-img{
        width: 10px;
    height: 16px;
    }
}


.header-link:hover{
        color: var(--color-akcent);
        .header-img{
            fill: $headd-color;
        }
}

.nav-item{
    position: relative;
}

.nav-link{
    color:$tekst-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link::after{
content:"";
display: block;
width: 100%;
height: 4px;
background-color:$headd-color;
position: absolute;
top: 48px;
opacity: 0; 
border-radius: 2px;

transition-property: opacity;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after{
opacity: 1;
}

    
.nav-list{
    display: flex;
    gap: 50px;
}
    
.nav-link:hover{
color:$color-akcent;
}

.aktive{
    color: $color-akcent;
}

.header-icons{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-ikons:hover{
    .header-ikon{
        fill:$headd-color;
    }
}

.header-ikon{
    fill: $add-color;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-list{
    width: 100%;
    height: 840px;
    background-color: $title-color;
    position: relative;
    overflow: hidden;
}