.header{
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px){
        padding-top:24px ;
        padding-bottom: 25px;
    }
    
   &__box{
        display: flex; 
       align-items: center;
    }

    &__logo{
        color: $logo-color;
        font-family: "Raleway";
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
        margin-right: auto;
    @media screen and (min-width:768px){
        margin-right: 87px;
    }


        @media screen and (min-width:1200px){
            font-size: 26px;
            margin-right: 93px;
        }


    }

    &__web{
        color: $color-akcent;
    
        }

    &__btn{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;

        @media screen and (min-width:768px){
            display: none;
        }
    }

    &__menu{
        width: 24px;
        height: 24px;
        

    }

        &__list{
            display: none;
            margin-left: auto;

            @media screen and (min-width:768px) {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            @media screen and (min-width:1200px){
                flex-direction: row;
                gap: 30px;
            }
        }

        &__item:last-child{
            .header__img{
                width: 10px;
            height: 16px;
            }
        }

        &__link{
            color: $add-color;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.28px;
            display: flex;
            align-items: center;
            gap: 10px;
        
            transition-property: color;
           transition-duration: 250ms;
           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

           &:hover{
            color: $color-akcent;
            .header__img{
                fill: $headd-color;
            }
    }
            }

            &__img{
                width: 16px;
            height: 12px;
            fill: $add-color;
        
            transition-property: fill ;
           transition-duration: 250ms;
           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

            &__nav{
                display: none;
                @media screen and (min-width:768px){
                    display: block;
                }
            }

}


.nav{
  
    &__list{
        display: flex;
        gap: 50px;
    }

    &__item{
        position: relative;
    }

    &__link{
        color:$tekst-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            color:$color-akcent;
            }
            

        &::after{
            content:"";
            display: block;
            width: 100%;
            height: 4px;
            background-color:$headd-color;
            position: absolute;
            top: 48px;
            opacity: 0; 
            border-radius: 2px;
            
            transition-property: opacity;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
    }
}

.nav__link:hover::after{
    opacity: 1;
    }

.aktive{
    color: $color-akcent;
}

// .container-list{
//     width: 100%;
//     height: 840px;
//     background-color: $title-color;
//     position: relative;
//     overflow: hidden;
// }

// .link{
//     color: $logo-color;
//     font-size: 30px;
// }


.menu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100wh;
    z-index: 1;
    background-color: $title-color  ;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 32px;
    opacity: 1;

    &__clouse{
        border:none;
        width: 40.0px;
        height: 40.0px;
        position: absolute;
        top:10px;
        right: 15px;
        background-color: transparent;
    }
    
        &__list{
            margin-bottom: 150px;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    
        &__items{
        width: 139px;
        height: 48px;
    
     
        color: $tekst-color;
        flex-shrink: 0;;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.8px;
    
        &:hover{
            color: $color-akcent;
        }
        
        }
    
     
    
        &__social{
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 20px;
        }
    
        &__sic{
            color: #2196F3;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0.36px;
        }
    
        &__contakt{
            margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__link{
        color: #2196F3;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.68px;

        }

        &__link2{
        color: #757575;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.48px;

        }
    }
    
.is-hidden{
    pointer-events: none;
    opacity: 0;
}