.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/mobile/hero-mobile@1x.webp);
    padding-top: 118px;
    padding-bottom: 118px;   
    text-align: center;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/mobile/hero-mobile@2x.webp);
  }

  @media screen and (min-width:768px){
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/tablet/hero-tablet@1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/tablet/hero-tablet@2x.webp);
    }
  }

    @media screen and (min-width:1200px){
    padding-bottom: 200px;   
    padding-top: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/desktop/hero-deskstop@1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/desktop/hero-deskstop@2x.webp);
    }
    }

    &__title{
        color: $title-color;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width:480px) {
    width: 360px;
    }

    @media screen and (min-width:768px) {

    }

    @media screen and (min-width:1200px) {
        font-size: 44px;
        width: 696px;
    }
    }

    &__button{
        background-color: $color-akcent;
        color: $title-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87; /* 187.5% */
        letter-spacing: 0.96px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 24px;
        padding-right: 24px;

        
        border-radius: 4px;
        background: $headd-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        animation-name: reee;
        animation-duration: 10000ms;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: initial;

        @media screen and (min-width:1200px){
            padding-left: 32px;
            padding-right: 32px;
        }
        }
}







@keyframes reee{
    0%{
        background-color: rgb(255, 0, 106);
    }

    25%{
        background-color: rgb(0, 255, 255);
    }  

    50%{
        background-color: rgb(38, 0, 255);
    }  

    75%{
        background-color: rgb(0, 255, 0);
    }  
    
    100%{
        background-color: rgb(255, 166, 0);
    }
}