.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)) , url(../photo/people.webp);
    padding-top: 200px;
    padding-bottom: 280px;   
    text-align: center;

    &__title{
        color: $title-color;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    }

    &__button{
        background-color: $color-akcent;
        color: $title-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87; /* 187.5% */
        letter-spacing: 0.96px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        
        border-radius: 4px;
        background: $headd-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        animation-name: reee;
        animation-duration: 10000ms;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: initial;
        }
}







@keyframes reee{
    0%{
        background-color: rgb(255, 0, 106);
    }

    25%{
        background-color: rgb(0, 255, 255);
    }  

    50%{
        background-color: rgb(38, 0, 255);
    }  

    75%{
        background-color: rgb(0, 255, 0);
    }  
    
    100%{
        background-color: rgb(255, 166, 0);
    }
}