.card{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px){
        padding-top: 94px;
    padding-bottom: 94px;
    }

    &__list{
        display: flex;
        gap: 8px;
        margin-bottom: 40px;
        border-radius: 4px;
        justify-content: start;
        flex-wrap: wrap;
        row-gap: 15px;

        @media screen and (min-width:480px) and (max-width:767px){
            width: 400px;
        }
        
        // @media screen and (min-width:480px){
        //     width: 400px;
        // }

        @media screen and (min-width:768px){
          justify-content: center;
          margin-bottom: 30px;
            
        }

        @media screen and (min-width:1200px){
            margin-bottom: 50px;
        }
    }

    &__item{
        border-radius: 0px 0px 4px 4px;
        background: $title-color;
    }

    &__btn{
        padding: 6px 22px;
        color: $tekst-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62; /* 162.5% */
        letter-spacing: 0.48px;
        border-radius: 4px;
        background: $team-beground;
        border: none;
    
        transition-property: color , background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            color: $title-color;
            background-color: $color-akcent;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
            animation-name: bttt;
            animation-duration: 10000ms;
            animation-direction: alternate;
            animation-timing-function: ease-out;
            animation-iteration-count: initial;
        }
    }
 
    &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        
    }

    &__itm{
        outline: 1px solid $card-border;
        background: $title-color;
        flex-basis: 100%;
    
        border-radius: 0px 0px 4px 4px;
        background: $title-color;
    
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:480px){
            flex-basis: 450px;

        }

        @media screen and (min-width:768px){
            flex-basis: calc((100% - 30px) / 2);
        }

        @media screen and (min-width:1200px){
            flex-basis: calc((100% - 60px) / 3);
        }


        &:hover{
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
            .card__tek{
                opacity: 1;
                transform: translateY(0);
            }
        } 
        
    }

    &__geo{
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    &__over{
        position: relative;
         overflow: hidden;
    }

    &__img{
        width: 100%;
    }

    &__tek{
        background: $overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 24px;
        opacity:1 ;
    
        color: $title-color;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.54px;
    
        transition-property: opacity , transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(100%);
    }
     

    &__title{
        color: $tekst-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
    margin-bottom: 4px;
    }
    
    &__tekst{
        color: $add-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
    }
}


   

  

  

    

 

 
