.team{
    background-color: $team-beground;
    padding-top: 60px;
    padding-bottom: 60px; 

    @media screen and (min-width:1200px){
        padding-top: 94px;
        padding-bottom: 94px; 
    }

    &__title{
        color: $tekst-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
        }

        &__list{
            display: flex;
            gap: 30px;
            flex-direction: column;
           
            @media screen and (min-width:768px){
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__item{
            border-radius: 0px 0px 4px 4px;
            background: #FFF;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
            flex-basis: 100%;
           

            @media screen and (min-width:480px){
                flex-basis: 450px;
            }

            @media screen and (min-width:768px){
                flex-basis: calc((100% - 30px) / 2);
            }
        
            @media screen and (min-width:1200px){
                flex-basis: calc((100% - 90px) / 4);
                
            }
        }

        &__box{
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: $title-color;
        }

        &__name{
            color: $tekst-color;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.18;
            letter-spacing: 0.48px;
            margin-bottom: 10px;
            }

            &__text{
                color: $add-color;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.18;
                letter-spacing: 0.48px;  

                @media screen and (min-width:480){
                    width: 130px;
                    
                }
                }

                &__items{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 16px;
                }

                &__link{
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    transition-property: background-color;
                   transition-duration: 250ms;
                   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                   &:hover{
                    background-color: $color-akcent;
                    .team__ikon{
                        fill: $title-color;
                    }
                }
                }


                &__ikon{
                    width: 20px;
                    height: 20px;
                    fill: $filll-color;
                
                    transition-property: fill;
                   transition-duration: 250ms;
                   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                }

             
    }
    
   

    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 58px;
        gap: 22px;
    
    }
    