.work{
    padding-top: 94px;
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width:1200px){
        display: block;
    }

    &__title{
        color:$tekst-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        }

        &__list{
            display: flex;
            gap: 30px;
            margin-top: 50px;
        }

        &__item{
            position: relative;
        }

        &__text{
            color: $title-color;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.42px;
            text-transform: uppercase;
        
            position: absolute;
            bottom: 0;
            background:$bakk-color;
            width: 100%;
            padding-top: 27px ;
            padding-bottom: 27px ;
        }
}



    
  
    
   
    
